In [1]:
#Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.
from functools import reduce
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
reduce(lambda x,y:x*y,l)

15511210043330985984000000

In [4]:
#Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x:x%2==0 and x%3==0,l))

[6, 60, 90, 120]

In [24]:
#Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)

b=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
b.sort(key = lambda x : x[1])
print(b)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [9]:
#Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
a=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,a))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
#Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
s1=['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x:(x =="".join(reversed(x))),s1))

['php', 'aba', 'radar', 'level']